@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar while allowing scroll */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
